<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= region.name %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_locations_admin_region_path(region),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.locations_admin_region_path(region),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => region.name),
        :method => :delete %>
  </span>
</li>
